#Esto se usa para saber de que layout se va a copear el formato html
{% extends "tareas/layout.html" %}

#Este argumento es para que agreges elementos nuevos para es archivo html y se cierra con un endblock
{% block body%}
<h1>tareas</h1>
<ul>

    #Este for esta para reporduccir todas las tareas disponibles en la lista que se creo en el archivo en views.py
    {% for tarea in tareasOut %}

    #Aqui los reproduce en un li por cada elemento
    <li>{% task %}</li>
    {%endfor%}
</ul>

#Este es un boton para ir a la pagina de agregar para agregar mas elementos en la lista que se reproduciran en
index.html
<a href="{% url 'agregar'%}">Agregar nueva tarea</a>
{% endblock %}