<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <!--Esto es para archivos html que tengan elementos iguales y solo cambien solo unos elementos especificos de esta forma se
cambian en django
#Se pone donde quieres que sea el cambio y donde termine, donde empeza con block y luego el nombre que tu quieras y
luego poner endblock donde acabe-->

    {% block bodyCuerpo %}

    {% endblock %}
</body>

</html>